body{
    background-color: #181818;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.avisos{
    display: flex;
    flex-direction: column;
   gap: 1px;
   width: 180px ;
   
}
 .avisos-b:hover{
    background-color: rgb(31, 82, 82);
    color: #181818;
 }
 .avisos-b{
    background-color: #4fc7fd;
    border: none;
    color: black;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
 }
 .menu-lateral{
    background-color: #181818;
    top:0;
    left: 0;
    position: fixed;
    width: 220px;
    height: auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
 }
.logo{
    color: #00b37e ;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.perfil img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.perfil p{
    margin: 0;
    font-weight: bold;
}
.menu{
    list-style: none;
    padding: 0;
    flex-grow: 1;
}
.menu li{
    padding: 10px;
    color: #ccc;
    cursor: pointer;
    border-radius: 6px;
}
.menu li:hover{
    background-color: #181818;
    color: #00b37e;
}
.menu li.sair{
    color: rgb(235, 74, 68);
}
.menu li.sair:hover{
    color: red;
}
.caixa-grade{
    display: flex;
    flex-direction: column;
   gap: 25px;
   width: 650px ;
}
.dentro-caixa{
    background-color:#272424;
    padding: 30px;
    border-radius: 10px;
    width: 550px;
}
.nome-caixa{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ddd;
}
.opcoes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
button{
    background-color: #e6e6e6;
     color: #000;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.2s;
}
button:hover{
    background-color: #ccc;
}
.icon{
    font-weight: bold;
}
#verde{
    background-color: #81bf40;
}
#verde:hover{
    background-color: #608f2e ;
}
.mes{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px ;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 15px;
}
th, td{
    padding: 10px;
    border: 1px solid #333;
}
th {
    background-color: #555;
    color: #fff;
}


td {
    background-color: #6b6a26;
    color: #fff;
}
td.vazio{
    background-color: #333;
}
td.hoje{
    font-weight: bold;
    background-color: #8a892e;
}
.etapa{
    background-color: #6b6a26;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}
.botao-c{
    margin-top: 20px;
}
